.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  font-family: 'Rounded Mplus 1c', 'BIZ UDPGothic', sans-serif;
}
